body {
    /* Allow scrolling down a bit */
    padding-bottom: 150px;
}

/* Add some spacing between elements */
.body-content-wrapper > * {
    padding: 15px;
}

.er-about-bio img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
