
h1{
    margin-top: 12px;
    font-family: "Gill Sans", sans-serif;
    color: #20295b;
}


demoButton {
    background-color: #525ea2;
    
}

textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
}