html {
    /* Avoid different widths on longer pages */
    overflow-y: scroll;
}
body {
    /* Allow scrolling down a bit, increase default font size */
    padding-bottom: 150px;
    font-size: 16pt;
}
a {
    text-decoration: none;
}
.body-content-wrapper {
    margin-left: 275px;
    margin-right: auto;
    width: 80%;
}

h1 {
    /* Center headings */
    text-align: center;
}

.side-nav {
    height: 100%;
    width: 225px;
    position: fixed;
    top: 0;
    left: 0;

    background-color: #26316d;
    box-shadow: 10px 0 15px -7px rgb(172, 172, 172);
       
    padding: 15px;

    color: white;

    display:flex;
    justify-content: flex-end;

}
.side-nav a{
    color:white;
}
#er-profile {
    margin-bottom: 50px;
    margin-right: 15px;

    display: inline-block;
    align-self: flex-end;
}

#er-imgProfile {
    width: 35px;
    border-radius: 50%;
}
.er-navButton {
    padding: 10px 70px 10px 70px;
    background-color: #2d397f;

    color:white;
    box-shadow: 0;
}
.er-navButton:hover {
    background-color: #3949a3;
}
.er-logo {
    max-width: 100px;
}